body {
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #1e1e1e;
    color: #eaeaea;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

header, footer {
    background-color: #2a2a2a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #c719a1;
    letter-spacing: 2px;
    font-weight: 600;
}

h2, .clima-container h2 {
    color: #00ff00;
}

main {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

section {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

footer {
    margin-top: 50px;
    color: #fff;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #81c784;
}

main p {
    font-size: 19px;
    margin-bottom: 20px;
    color: #00ff00;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #eccb99;
}

input[type="number"], input[type="text"], input[type="url"] {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

::placeholder {
    color: #a1a1a1;
    opacity: 1;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    background-color: #c719a1;
    border: none;
    border-radius: 10px;
    color: #eaeaea;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 10px rgba(199, 25, 161, 0.4);
}

button:hover {
    background-color: #e91ebc;
    transform: translateY(-4px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4), 0 0 15px rgba(233, 30, 188, 0.6);
}

button:focus {
    outline: none;
    box-shadow: 0 0 8px #00ff00, 0 0 15px #00ff00;
}

.delete-link-btn {
    background-color: #ff3b3b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 59, 59, 0.4);
}

.delete-link-btn:hover {
    background-color: #ff6b6b;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 107, 107, 0.6);
}

.delete-link-btn:focus {
    outline: none;
    box-shadow: 0 0 8px #ff3b3b, 0 0 15px rgba(255, 59, 59, 0.6);
}

.clima-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    border-radius: 12px;
    color: #eaeaea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.clima-container .ubicacion,
.clima-container .estado-clima,
.clima-container .temperature,
.clima-container .info p {
    margin: 5px 0;
}

.clima-container .temperature {
    font-size: 50px;
    color: #ff9800;
    font-weight: bold;
}

.clima-container .info {
    margin-top: 20px;
    font-size: 18px;
}

.clima-container img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.prevision-horaria {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.prevision-horaria .hora-item {
    background-color: #444;
    padding: 15px;
    margin-bottom: 15px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.prevision-horaria .hora-item img {
    width: 50px;
    height: 50px;
}

.prevision-horaria .hora-item p {
    font-size: 16px;
    color: #fff;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Digital-7 Mono', monospace;
    font-weight: bold;
    background-color: #1c1c1c;
    color: #0aff0a;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(10, 255, 10, 0.6), 0 0 40px rgba(10, 255, 10, 0.4), inset 0 0 10px rgba(0, 0, 0, 0.6);
    width: fit-content;
    margin: 0 auto;
}

#clock-time {
    font-size: 100px;
    text-shadow: 0 0 5px rgba(10, 255, 10, 0.8), 0 0 20px rgba(10, 255, 10, 0.6);
    letter-spacing: 0.1em;
}

#current-date {
    font-size: 28px;
    color: #00ff00;
    margin-top: 10px;
    text-shadow: 0 0 5px rgba(10, 255, 10, 0.6), 0 0 15px rgba(10, 255, 10, 0.4);
}

#clock-time span.blink {
    animation: blink 1s steps(2, start) infinite;
    color: #0aff0a;
}

.links-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-item {
    background-color: #333;
    padding: 15px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.link-title {
    color: #4CAF50;
    text-decoration: none;
    font-size: 18px;
    flex-grow: 1;
    transition: color 0.3s ease;
}

.link-title:hover {
    color: #81c784;
}

nav a {
    color: #c719a1;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    transition: all 0.3s ease;
    font-size: 50px;
    display: inline-flex;
    align-items: center;
    padding-top: 5px;
}

nav a:hover {
    color: #c07608;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

nav li {
    margin: 0;
}

#link-title, #link-url {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#link-title::placeholder, #link-url::placeholder {
    color: #a1a1a1;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .clima-container, .clock, .links-list {
        width: 90%;
    }

    .prevision-horaria .hora-item {
        width: 45%;
    }

    h1 {
        font-size: 36px;
    }
}